.not-found {
  display: grid;
  background-color: aliceblue;
  margin: 10px 20px 10px 20px;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  justify-content: center;
  gap: 0;
}

.not-found-btn {
  text-decoration: none;
  color: white;
  height: 30px;
  width: 300px;
  border-radius: 10px;
  background-color: rgb(44, 54, 244);
  cursor: pointer;
  margin-bottom: 50px;
  padding: 3px;
}
.not-found-btn:hover {
  background-color: rgb(9, 13, 37);
  color: white;
}
